
/* Main font */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* Review Body Font */
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');


.App {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  font-size: xx-large;
  min-width: 550px;
  margin: auto;
}

.Title {
  font-family: 'Bebas Neue', cursive;
  line-height:50%;
  position: fixed;
  margin-left: 40px;
  margin-top: 2%;
  display: block;

}

#title {
  font-size: 400%;

}

.subtitle {
  color: pink;

}

.Nav {
  display: flex;
  justify-content: center;
  margin: 2%;
  gap: 8px;
}

.Nav:hover {
  background-color: black;
}
.nav_link:hover {
  font-size: 125%;
  }

.Errors {
  color: red;
}


/* Lists */
.AlbumList {
  display: block;
  list-style-type: none;
  margin: 70px;
}

#album_reviews {
  margin: auto;
  inline-size: 600px;
  list-style-type: none;
  margin-top:1%;
  margin-bottom:5%;
  padding-left:0;
  text-align: right;
  background-color: #F2F2F2;
  border-radius: 15px;
}

#user_reviews {
  margin: auto;
  list-style-type: none;
  inline-size: 600px;
  margin-top:1%;
  margin-bottom:5%;
  padding-left:0;
  text-align: left;
  background-color: #F2F2F2;
  border-radius: 15px;
}

.reviews_list {
  padding-left: 0;
}

#user_review_album_data {
  margin: auto;
  justify-content: center;
  text-align: center;
  padding-top: 10%;
  padding-bottom: 1%;
}

.ProfileAlbums {
  list-style-type: none;
  background-color: black;
  color: #F9F6EE;
}

/* Forms */
.forms {
  align-items: center;
  width: 30%;
  margin: auto;
}

#edit_review {
  width: 50%;
  margin: auto;

}

